.comment .comList .listCol .reCom {
  background-color: transparent;
  padding: 0;
}

.comment .sug.active,
.comment .sugBtn.active {
  color: #007bff;
  background-color: rgba(0, 123, 255, 0.1);
}

.comment .sug.active i,
.comment .sugBtn.active i {
  color: #007bff;
}

.comment .block span {
  cursor: pointer;
}

.comment .block span:hover {
  text-decoration: underline;
}

.comment .edit-buttons {
  display: flex;
  gap: 10px;
}

.comment .edit-buttons .comWrite.cancel {
  background-color: var(--bgcol03);
  border: 1px solid var(--primary);
  color: var(--primary);
}
