/* screen - main */
.main_section {
	background-color: var(--bgcol03);
}

.topWrap {
	gap: 25px;
	width: 100%;
}


.swiper {
	width: 100%;
}

.swiper-slide {
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

/*.swiper-slide img {display: block; width: 100%; object-fit: cover;}*/

/* topSwiper */
.topSwiper {
	align-items: flex-end;
	width: 848px;
	height: 155px
}

.topSwiper .swiper-button-next,
.topSwiper .swiper-button-prev {
	background-color: var(--fuscous-gray);
	width: 30px;
	height: 30px;
	border-radius: 50px;
}

.topSwiper .SwiperBg {
	width: 100%;
	height: 100%;
	border-radius: 20px;
	overflow: hidden;
}

.topSwiper .SwiperBg img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.swiper-container {
	display: block;
	text-align: center;
}

/* topSwiper end */


/* login, member */
.user_box {
	position: relative;
	align-items: center;
	border: 1px solid var(--linecol05);
	border-radius: 20px;
	display: flex;
	width: 407px;
	gap: 100px;
	justify-content: center;
}

.user_box .line {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 1px;
	height: 100%;
	background-color: var(--linecol05)
}

.user_box .card {
	flex-direction: column;
	gap: 10px;
	align-items: center;
	width: 100px;
	padding: 20px 0;
}

.user_box .card .icon {
	width: 43px;
	height: 43px;
}

.user_box .card .txt {
	color: var(--txtcol04);
	font-size: var(--font-size-l);
	font-weight: 400;
	left: 0;
	line-height: normal;
}

.user_box .card a {
	align-items: center;
	background-color: var(--primary);
	color: var(--white);
	font-size: var(--font-size-xl);
	font-weight: 500;
	border-radius: 15px;
	display: flex;
	justify-content: center;
	padding: 5px;
	width: 100%;
	line-height: normal;
}

.user_box .mypageinfo {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.info_container {
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding: 20px 25px;
}

.info_container a {
	border-radius: 20px;
	border: 1px solid var(--text-silver);
	padding: 8px 15px;
	align-items: center;
	display: flex;
	justify-content: center;
	color: var(--text-silver);
	font-size: var(--font-size-xl);
	font-weight: 500;
	line-height: normal;
}

.info_container .infoBox {
	align-items: center;
	gap: 10px;
}

.info_container .corpBox {
	align-items: center;
	gap: 5px;
}

.info_container .imgBox {
	position: relative;
	display: flex;
	width: 56px;
	border-radius: 28px;
	height: 56px;
	background-color: var(--bgcol06);
	color: var(--white);
	justify-content: center;
	align-items: center;
	font-size: 24px;
}

.info_container .photo {
	align-items: flex-end;
	background-color: #868686;
	border-radius: 11.5px;
	display: flex;
	height: 23px;
	left: 33px;
	min-width: 23px;
	padding: 6px;
	position: absolute;
	top: 33px;
	justify-content: center;
	align-items: center;
	font-size: 12px;
}

.info_container .userBox {
	color: var(--txtcol06);
	font-size: var(--font-size-xxl);
	font-weight: 500;
}

.info_container .userBox span {
	color: var(--text-silver);
	font-size: var(--font-size-xl);
	font-weight: 500;
}

.info_container .corpuserBox {
	color: var(--text-silver);
	font-size: var(--font-size-ls);
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

.infoBtn_box {
	display: flex;
	background-color: var(--bgcol03);
	border-radius: 0px 0px 20px 20px;
	border-top: 1px solid var(--linecol05);
	width: 100%;
	justify-content: center;
	align-items: center;
}

.infoBtn_box a {
	display: flex;
	width: 33.333333333%;
	color: var(--txtcol04);
	font-size: var(--font-size-m);
	font-weight: 400;
	justify-content: center;
	align-items: center;
	padding: 20px 0;
}

.infoBtn_box a:nth-child(1),
.infoBtn_box a:nth-child(2) {
	border-right: 1px solid var(--linecol05);
}

.CorpinfoBtn_box {
	display: flex;
	background-color: var(--bgcol03);
	border-radius: 0px 0px 20px 20px;
	border-top: 1px solid var(--linecol05);
	width: 100%;
	justify-content: center;
	align-items: center;
}

.CorpinfoBtn_box a {
	display: flex;
	width: 100%;
	color: var(--txtcol04);
	font-size: var(--font-size-m);
	font-weight: 400;
	justify-content: center;
	align-items: center;
	padding: 20px 0;
}



/* fmWrap */
.pd1 {
	padding: 55px 40px !important;
}

.gap1 {
	gap: 10px !important;
}

.fmWrap {
	align-items: stretch;
	gap: 25px;
}

.fmWrap .cardWrap {
	gap: 25px;
	width: 848px
}

.fmWrap .cardWrap .fmlBox {
	width: 468px;
	gap: 20px;
	flex-direction: column;
}

.fmWrap .cardWrap .card {
	align-items: flex-start;
	background-color: var(--bgcol03);
	border: 1px solid var(--linecol05);
	border-radius: 20px;
	gap: 25px;
	width: 100%;
	padding: 55px 47px;
}

.fmWrap .cardWrap .card .imgBox {
	height: 58px;
	width: auto;
}

.fmWrap .cardWrap .card .txt {
	align-self: center;
	flex-direction: column;
	width: 80%;
}

.fmWrap .cardWrap .card .txt p {
	position: relative;
	color: var(--txtcol04);
	font-size: var(--font-size-xl);
	font-weight: 400;
	line-height: normal;
}

.fmWrap .cardWrap .card .txt p.title {
	color: var(--txtcol05);
	font-size: var(--font-size-xxl);
	font-style: normal;
	font-weight: 700;
}

.fmWrap .cardWrap .card .txt p i {
	margin-left: 10px;
}

.fmWrap .cardWrap .fmrSwiper {
	width: 355px;
	height: 360px
}

.fmWrap .cardWrap .fmrSwiper .SwiperBg {
	width: 100%;
	height: 100%;
	border-radius: 20px;
	overflow: hidden;
}

.fmWrap .cardWrap .fmrSwiper .SwiperBg img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}


.fmWrap .urbest {
	align-items: center;
	background-color: var(--white);
	border: 1px solid var(--linecol05);
	display: flex;
	flex-direction: column;
	width: 407px;
	overflow: hidden;
	border-radius: 20px;
}

.fmWrap .urbest .hearder {
	align-items: center;
	justify-content: center;
	background-color: var(--bgcol03);
	border-bottom: 1px solid var(--linecol05);
	border-radius: 20px 20px 0 0;
	display: flex;
	width: 100%;
	padding: 12px 0;
}

.fmWrap .urbest .best {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 3px;
	color: transparent;
	font-size: var(--font-size-xxl);
	font-weight: 700;
	line-height: normal;
	width: 100%;
	text-align: center;
}

.fmWrap .urbest .best span {
	color: var(--txtcol06);
	text-align: center;
	font-size: var(--font-size-xxl);
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	letter-spacing: -0.36px;
}

.fmWrap .urbest .best span:nth-child(2) {
	color: var(--primary);
}

.fmWrap .urbest .best_tab {
	align-items: center;
	display: inline-flex;
	gap: 5px;
	position: relative;
	width: 100%;
	justify-content: center;
	border-bottom: 1px solid var(--linecol05)
}

.fmWrap .urbest .best_tab li {
	padding: 10px;
	color: var(--txtcol04);
	font-family: var(--font-family-noto_sans_cjk_kr-medium);
	font-size: var(--font-size-m);
	font-style: normal;
	font-weight: 500;
}

.fmWrap .urbest .best_tab button {
	font-family: var(--font-family-noto_sans_cjk_kr-black);
	font-size: var(--font-size-m);
	font-weight: 900;
	line-height: normal;
	position: relative;
	width: fit-content;
}

.fmWrap .urbest .best_tab .active {
	color: var(--primary);
}

.fmWrap .urbest .best_box {
	display: block;
	width: 100%;
	padding: 10px 20px;
}

.fmWrap .urbest .best_box li {
	display: flex;
	align-items: center;
	line-height: 27px;
}

.fmWrap .urbest .best_box .num {
	color: var(--txtcol05);
	font-size: var(--font-size-m);
	font-weight: 700;
	width: 20px;
}

.fmWrap .urbest .best_box .subject {
	color: var(--txtcol04);
	font-size: var(--font-size-m);
	font-weight: 400;
	margin-left: 15px;
	width: 300px;
}

.fmWrap .urbest .best_box .cnt {
	color: var(--red);
	font-size: var(--font-size-m);
	font-weight: 400;
	margin-left: 9px;
}


/* ���� �α���� */
.hitpublic {
	display: block;
	position: relative;
	padding: 35px 0
}

.hitpublic h2 {
	display: flex;
	color: var(--txtcol05);
	font-size: var(--font-size-xxxl);
	font-style: normal;
	font-weight: 700;
}

.hitpublic .hitSwiper {
	width: 100%;
	margin-top: 15px;
}

.hitpublic .hitSwiper .swiper-slide {
	justify-content: center;
	align-items: center;
}

.hitpublic .hitSwiper .card {
	align-items: center;
	flex-direction: column;
	width: 100%;
	gap: 10px;
}

.hitpublic .hitSwiper .card .imgBox {
	align-items: center;
	background-color: var(--white);
	border: 1px solid var(--linecol05);
	border-radius: 10px;
	padding: 20px;
	justify-content: center;
	height: 95px
}

.hitpublic .hitSwiper .card .imgBox img {
	height: 100%;
	object-fit: cover;
	width: auto;
}

.hitpublic .hitSwiper .card .txt {
	color: var(--txtcol04);
	font-size: var(--font-size-xl);
	font-style: normal;
	font-weight: 500;
	margin-top: 10px;
	text-align: left;
	line-height: initial;
}

.hitpublic .swiperbtn {
	position: relative;
	margin-left: 10px;
}

.hitpublic .swiperbtn .swiper-button-prev,
.hitpublic .swiperbtn .swiper-button-next {
	width: 22px;
	height: 22px;
	top: 14px;
}

.hitpublic .swiperbtn .swiper-button-prev {
	left: 0;
	background: url(../img/prive.png) no-repeat;
}

.hitpublic .swiperbtn .swiper-button-next {
	left: 28px;
	background: url(../img/next.png) no-repeat;
}

.hitpublic .swiperbtn .swiper-button-prev:after,
.hitpublic .swiperbtn .swiper-button-next:after {
	display: none;
}


/* ����ä��, �ؿ�ä�� */
.jobdev {
	padding: 35px 0;
	gap: 20px;
}

.jobdev h2 {
	color: var(--txtcol05);
	font-size: var(--font-size-xxxl);
	font-style: normal;
	font-weight: 700;
	font-family: var(--font-family-noto_sans_cjk_kr-bold);
	gap: 10px;
}

.jobimg {
	width: 23px;
	height: auto;
	border: 1px solid var(--quill-gray);
	border-radius: 20px;
}

.jobdev .card {
	background-color: var(--white);
	border: 1px solid var(--linecol05);
	border-radius: 20px;
	display: block;
	width: 50%;
	padding: 25px;
}

.jobdev .card .card_body {
	align-items: center;
	flex-wrap: wrap;
	gap: 20px;
	margin-top: 15px;
	width: 100%;
}

.jobdev .card .card_body .card_item {
	align-items: stretch;
	display: flex;
	gap: 10px;
	flex: 1 1 48%;
}

.jobdev .card .card_body .card_item .logoBox {
	background-color: var(--white);
	border: 1px solid var(--linecol05);
	border-radius: 5px;
	display: flex;
	width: 100px;
	padding: 20px 15px;
	justify-content: center;
	align-items: center;
}

.jobdev .card .card_body .card_item .logoBox img {
	width: 100%;
	object-fit: cover;
}

.jobdev .card .card_body .card_item .txt {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	gap: 10px;
	width: 160px;
}

.jobdev .card .card_body .card_item .txt p {
	color: var(--txtcol04);
	font-family: var(--font-family-noto_sans_cjk_kr-medium);
	font-size: var(--font-size-l);
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

.jobdev .card .card_body .card_item .txt p.dday {
	color: var(--txtcol01);
	font-size: var(--font-size-xs);
}

.jobdev .card .card_body .card_item .txt p.today {
	color: var(--red);
	font-size: var(--font-size-xs);
}


/*vip */
.vip_container {
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 35px 0;
}

.vip_container h2 {
	color: var(--txtcol05);
	font-family: var(--font-family-noto_sans_cjk_kr-bold);
	font-size: var(--font-size-xxxl);
	font-style: normal;
	font-weight: 700;
}

.vip_container .top_group {
	width: 100%;
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	margin-top: 15px;
	margin-bottom: 50px;
	gap: 20px;
}

.top_group .card {
	position: relative;
	align-items: flex-start;
	background-color: var(--white);
	border: 1px solid;
	border-color: var(--quill-gray);
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	padding: 20px;
	width: 23.8%;
	height: 210px;
}

.top_group .card .img_box {
	display: flex;
	width: 160px;
	height: 40px;
	align-items: center;
}

.top_group .card .jobInfo_flex {
	display: flex;
	flex-direction: column;
	width: 100%;
	justify-content: space-between;
}

.top_group .card .infogroup {
	display: block
}

.top_group .card .name {
	width: 100%;
	letter-spacing: 0;
	line-height: normal;
	margin-top: 20px;
}

.top_group .card .sname {
	width: 100%;
	letter-spacing: 0;
	line-height: normal;
}

.top_group .card .txt {
	width: 100%;
	letter-spacing: 0;
	line-height: normal;
	margin-top: 3px;
}

.top_group .card .text-container {
	position: absolute;
	left: 0;
	bottom: 20px;
	padding: 0 20px;
	align-items: center;
	display: flex;
	width: 100%;
	justify-content: space-between;
}

.top_group .card .region {
	line-height: normal;
	width: 200px
}

.top_group .card .dday {
	letter-spacing: 0;
	line-height: normal;
	min-width: 80px;
	text-align: right;
}

.top_group .card.speclal {
	width: 18.75%;
	height: 157px !important;
}

.top_group .line {
	border-color: var(--primary) !important;
}