.mt-0 {
  margin-top: 0px !important;
}

.pt-0 {
  padding-top: 0px !important;
}

.mb-0 {
  margin-bottom: 0px !important;
}

.pb-0 {
  padding-bottom: 0px !important;
}

.ml-0 {
  margin-left: 0px !important;
}

.pl-0 {
  padding-left: 0px !important;
}

.mr-0 {
  margin-right: 0px !important;
}

.pr-0 {
  padding-right: 0px !important;
}

.mt-4 {
  margin-top: 4px !important;
}

.pt-4 {
  padding-top: 4px !important;
}

.mb-4 {
  margin-bottom: 4px !important;
}

.pb-4 {
  padding-bottom: 4px !important;
}

.ml-4 {
  margin-left: 4px !important;
}

.pl-4 {
  padding-left: 4px !important;
}

.mr-4 {
  margin-right: 4px !important;
}

.pr-4 {
  padding-right: 4px !important;
}

.mt-5 {
  margin-top: 5px !important;
}

.pt-5 {
  padding-top: 5px !important;
}

.mb-5 {
  margin-bottom: 5px !important;
}

.pb-5 {
  padding-bottom: 5px !important;
}

.ml-5 {
  margin-left: 5px !important;
}

.pl-5 {
  padding-left: 5px !important;
}

.mr-5 {
  margin-right: 5px !important;
}

.pr-5 {
  padding-right: 5px !important;
}

.mt-8 {
  margin-top: 8px !important;
}

.pt-8 {
  padding-top: 8px !important;
}

.mb-8 {
  margin-bottom: 8px !important;
}

.pb-8 {
  padding-bottom: 8px !important;
}

.ml-8 {
  margin-left: 8px !important;
}

.pl-8 {
  padding-left: 8px !important;
}

.mr-8 {
  margin-right: 8px !important;
}

.pr-8 {
  padding-right: 8px !important;
}

.mt-10 {
  margin-top: 10px !important;
}

.pt-10 {
  padding-top: 10px !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.pb-10 {
  padding-bottom: 10px !important;
}

.ml-10 {
  margin-left: 10px !important;
}

.pl-10 {
  padding-left: 10px !important;
}

.mr-10 {
  margin-right: 10px !important;
}

.pr-10 {
  padding-right: 10px !important;
}

.mt-15 {
  margin-top: 15px !important;
}

.pt-15 {
  padding-top: 15px !important;
}

.mb-15 {
  margin-bottom: 15px !important;
}

.pb-15 {
  padding-bottom: 15px !important;
}

.ml-15 {
  margin-left: 15px !important;
}

.pl-15 {
  padding-left: 15px !important;
}

.mr-15 {
  margin-right: 15px !important;
}

.pr-15 {
  padding-right: 15px !important;
}

.mt-16 {
  margin-top: 16px !important;
}

.pt-16 {
  padding-top: 16px !important;
}

.mb-16 {
  margin-bottom: 16px !important;
}

.pb-16 {
  padding-bottom: 16px !important;
}

.ml-16 {
  margin-left: 16px !important;
}

.pl-16 {
  padding-left: 16px !important;
}

.mr-16 {
  margin-right: 16px !important;
}

.pr-16 {
  padding-right: 16px !important;
}

.mt-20 {
  margin-top: 20px !important;
}

.pt-20 {
  padding-top: 20px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.pb-20 {
  padding-bottom: 20px !important;
}

.ml-20 {
  margin-left: 20px !important;
}

.pl-20 {
  padding-left: 20px !important;
}

.mr-20 {
  margin-right: 20px !important;
}

.pr-20 {
  padding-right: 20px !important;
}

.mt-24 {
  margin-top: 24px !important;
}

.pt-24 {
  padding-top: 24px !important;
}

.mb-24 {
  margin-bottom: 24px !important;
}

.pb-24 {
  padding-bottom: 24px !important;
}

.ml-24 {
  margin-left: 24px !important;
}

.pl-24 {
  padding-left: 24px !important;
}

.mr-24 {
  margin-right: 24px !important;
}

.pr-24 {
  padding-right: 24px !important;
}

.mt-25 {
  margin-top: 25px !important;
}

.pt-25 {
  padding-top: 25px !important;
}

.mb-25 {
  margin-bottom: 25px !important;
}

.pb-25 {
  padding-bottom: 25px !important;
}

.ml-25 {
  margin-left: 25px !important;
}

.pl-25 {
  padding-left: 25px !important;
}

.mr-25 {
  margin-right: 25px !important;
}

.pr-25 {
  padding-right: 25px !important;
}

.mt-26 {
  margin-top: 26px !important;
}

.pt-26 {
  padding-top: 26px !important;
}

.mb-26 {
  margin-bottom: 26px !important;
}

.pb-26 {
  padding-bottom: 26px !important;
}

.ml-26 {
  margin-left: 26px !important;
}

.pl-26 {
  padding-left: 26px !important;
}

.mr-26 {
  margin-right: 26px !important;
}

.pr-26 {
  padding-right: 26px !important;
}

.mt-28 {
  margin-top: 28px !important;
}

.pt-28 {
  padding-top: 28px !important;
}

.mb-28 {
  margin-bottom: 28px !important;
}

.pb-28 {
  padding-bottom: 28px !important;
}

.ml-28 {
  margin-left: 28px !important;
}

.pl-28 {
  padding-left: 28px !important;
}

.mr-28 {
  margin-right: 28px !important;
}

.pr-28 {
  padding-right: 28px !important;
}

.mt-30 {
  margin-top: 30px !important;
}

.pt-30 {
  padding-top: 30px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.pb-30 {
  padding-bottom: 30px !important;
}

.ml-30 {
  margin-left: 30px !important;
}

.pl-30 {
  padding-left: 30px !important;
}

.mr-30 {
  margin-right: 30px !important;
}

.pr-30 {
  padding-right: 30px !important;
}

.mt-32 {
  margin-top: 32px !important;
}

.pt-32 {
  padding-top: 32px !important;
}

.mb-32 {
  margin-bottom: 32px !important;
}

.pb-32 {
  padding-bottom: 32px !important;
}

.ml-32 {
  margin-left: 32px !important;
}

.pl-32 {
  padding-left: 32px !important;
}

.mr-32 {
  margin-right: 32px !important;
}

.pr-32 {
  padding-right: 32px !important;
}

.mt-35 {
  margin-top: 35px !important;
}

.pt-35 {
  padding-top: 35px !important;
}

.mb-35 {
  margin-bottom: 35px !important;
}

.pb-35 {
  padding-bottom: 35px !important;
}

.ml-35 {
  margin-left: 35px !important;
}

.pl-35 {
  padding-left: 35px !important;
}

.mr-35 {
  margin-right: 35px !important;
}

.pr-35 {
  padding-right: 35px !important;
}

.mt-36 {
  margin-top: 36px !important;
}

.pt-36 {
  padding-top: 36px !important;
}

.mb-36 {
  margin-bottom: 36px !important;
}

.pb-36 {
  padding-bottom: 36px !important;
}

.ml-36 {
  margin-left: 36px !important;
}

.pl-36 {
  padding-left: 36px !important;
}

.mr-36 {
  margin-right: 36px !important;
}

.pr-36 {
  padding-right: 36px !important;
}

.mt-38 {
  margin-top: 38px !important;
}

.pt-38 {
  padding-top: 38px !important;
}

.mb-38 {
  margin-bottom: 38px !important;
}

.pb-38 {
  padding-bottom: 38px !important;
}

.ml-38 {
  margin-left: 38px !important;
}

.pl-38 {
  padding-left: 38px !important;
}

.mr-38 {
  margin-right: 38px !important;
}

.pr-38 {
  padding-right: 38px !important;
}

.mt-40 {
  margin-top: 40px !important;
}

.pt-40 {
  padding-top: 40px !important;
}

.mb-40 {
  margin-bottom: 40px !important;
}

.pb-40 {
  padding-bottom: 40px !important;
}

.ml-40 {
  margin-left: 40px !important;
}

.pl-40 {
  padding-left: 40px !important;
}

.mr-40 {
  margin-right: 40px !important;
}

.pr-40 {
  padding-right: 40px !important;
}

.mt-41 {
  margin-top: 41px !important;
}

.pt-41 {
  padding-top: 41px !important;
}

.mb-41 {
  margin-bottom: 41px !important;
}

.pb-41 {
  padding-bottom: 41px !important;
}

.ml-41 {
  margin-left: 41px !important;
}

.pl-41 {
  padding-left: 41px !important;
}

.mr-41 {
  margin-right: 41px !important;
}

.pr-41 {
  padding-right: 41px !important;
}

.mt-44 {
  margin-top: 44px !important;
}

.pt-44 {
  padding-top: 44px !important;
}

.mb-44 {
  margin-bottom: 44px !important;
}

.pb-44 {
  padding-bottom: 44px !important;
}

.ml-44 {
  margin-left: 44px !important;
}

.pl-44 {
  padding-left: 44px !important;
}

.mr-44 {
  margin-right: 44px !important;
}

.pr-44 {
  padding-right: 44px !important;
}

.mt-45 {
  margin-top: 45px !important;
}

.pt-45 {
  padding-top: 45px !important;
}

.mb-45 {
  margin-bottom: 45px !important;
}

.pb-45 {
  padding-bottom: 45px !important;
}

.ml-45 {
  margin-left: 45px !important;
}

.pl-45 {
  padding-left: 45px !important;
}

.mr-45 {
  margin-right: 45px !important;
}

.pr-45 {
  padding-right: 45px !important;
}

.mt-50 {
  margin-top: 50px !important;
}

.pt-50 {
  padding-top: 50px !important;
}

.mb-50 {
  margin-bottom: 50px !important;
}

.pb-50 {
  padding-bottom: 50px !important;
}

.ml-50 {
  margin-left: 50px !important;
}

.pl-50 {
  padding-left: 50px !important;
}

.mr-50 {
  margin-right: 50px !important;
}

.pr-50 {
  padding-right: 50px !important;
}

.mt-60 {
  margin-top: 60px !important;
}

.pt-60 {
  padding-top: 60px !important;
}

.mb-60 {
  margin-bottom: 60px !important;
}

.pb-60 {
  padding-bottom: 60px !important;
}

.ml-60 {
  margin-left: 60px !important;
}

.pl-60 {
  padding-left: 60px !important;
}

.mr-60 {
  margin-right: 60px !important;
}

.pr-60 {
  padding-right: 60px !important;
}

.mt-65 {
  margin-top: 65px !important;
}

.pt-65 {
  padding-top: 65px !important;
}

.mb-65 {
  margin-bottom: 65px !important;
}

.pb-65 {
  padding-bottom: 65px !important;
}

.ml-65 {
  margin-left: 65px !important;
}

.pl-65 {
  padding-left: 65px !important;
}

.mr-65 {
  margin-right: 65px !important;
}

.pr-65 {
  padding-right: 65px !important;
}

.mt-70 {
  margin-top: 70px !important;
}

.pt-70 {
  padding-top: 70px !important;
}

.mb-70 {
  margin-bottom: 70px !important;
}

.pb-70 {
  padding-bottom: 70px !important;
}

.ml-70 {
  margin-left: 70px !important;
}

.pl-70 {
  padding-left: 70px !important;
}

.mr-70 {
  margin-right: 70px !important;
}

.pr-70 {
  padding-right: 70px !important;
}

.mt-80 {
  margin-top: 80px !important;
}

.pt-80 {
  padding-top: 80px !important;
}

.mb-80 {
  margin-bottom: 80px !important;
}

.pb-80 {
  padding-bottom: 80px !important;
}

.ml-80 {
  margin-left: 80px !important;
}

.pl-80 {
  padding-left: 80px !important;
}

.mr-80 {
  margin-right: 80px !important;
}

.pr-80 {
  padding-right: 80px !important;
}

.mt-85 {
  margin-top: 85px !important;
}

.pt-85 {
  padding-top: 85px !important;
}

.mb-85 {
  margin-bottom: 85px !important;
}

.pb-85 {
  padding-bottom: 85px !important;
}

.ml-85 {
  margin-left: 85px !important;
}

.pl-85 {
  padding-left: 85px !important;
}

.mr-85 {
  margin-right: 85px !important;
}

.pr-85 {
  padding-right: 85px !important;
}

.mt-90 {
  margin-top: 90px !important;
}

.pt-90 {
  padding-top: 90px !important;
}

.mb-90 {
  margin-bottom: 90px !important;
}

.pb-90 {
  padding-bottom: 90px !important;
}

.ml-90 {
  margin-left: 90px !important;
}

.pl-90 {
  padding-left: 90px !important;
}

.mr-90 {
  margin-right: 90px !important;
}

.pr-90 {
  padding-right: 90px !important;
}

.mt-100 {
  margin-top: 100px !important;
}

.pt-100 {
  padding-top: 100px !important;
}

.mb-100 {
  margin-bottom: 100px !important;
}

.pb-100 {
  padding-bottom: 100px !important;
}

.ml-100 {
  margin-left: 100px !important;
}

.pl-100 {
  padding-left: 100px !important;
}

.mr-100 {
  margin-right: 100px !important;
}

.pr-100 {
  padding-right: 100px !important;
}

.mt-110 {
  margin-top: 110px !important;
}

.pt-110 {
  padding-top: 110px !important;
}

.mb-110 {
  margin-bottom: 110px !important;
}

.pb-110 {
  padding-bottom: 110px !important;
}

.ml-110 {
  margin-left: 110px !important;
}

.pl-110 {
  padding-left: 110px !important;
}

.mr-110 {
  margin-right: 110px !important;
}

.pr-110 {
  padding-right: 110px !important;
}

.mt-120 {
  margin-top: 120px !important;
}

.pt-120 {
  padding-top: 120px !important;
}

.mb-120 {
  margin-bottom: 120px !important;
}

.pb-120 {
  padding-bottom: 120px !important;
}

.ml-120 {
  margin-left: 120px !important;
}

.pl-120 {
  padding-left: 120px !important;
}

.mr-120 {
  margin-right: 120px !important;
}

.pr-120 {
  padding-right: 120px !important;
}

.mt-150 {
  margin-top: 150px !important;
}

.pt-150 {
  padding-top: 150px !important;
}

.mb-150 {
  margin-bottom: 150px !important;
}

.pb-150 {
  padding-bottom: 150px !important;
}

.ml-150 {
  margin-left: 150px !important;
}

.pl-150 {
  padding-left: 150px !important;
}

.mr-150 {
  margin-right: 150px !important;
}

.pr-150 {
  padding-right: 150px !important;
}
